<ion-header>
  <ion-navbar>
    <ion-title>
   
    </ion-title>
  </ion-navbar>
</ion-header>

<!-- <ion-content padding overflow-scroll="false">
<iframe width="100%" height="100%" class="scrollClass" src="https://islaminaat.com/"  frameborder="0" allowfullscreen></iframe>
</ion-content> -->

<ion-content padding overflow-scroll="false">  
 <ion-row class="w-100 mb-15">
  <ion-col class="text-center" col-4>
    <div class="camera-inner">
      <div class="camera-icon"  (click)="getImage()"> <img src="../../assets/images/instagram_ic.svg"> </div>
    </div>
    <div class="clear"></div>
    <h2 class="txt-blue">Camera</h2>
  </ion-col>
  <ion-col class="text-center" col-4>
    <div class="camera-inner">
      <div class="camera-icon gallery-icon" (click)="multiImageSelect()"> <img src="../../assets/images/gallery_white.svg"> </div>
    </div>
    <div class="clear"></div>
    <h2 class="txt-pink">Gallery</h2>
  </ion-col>
 
  <ion-col class="text-center" col-4 *ngIf="isAndroid" >
    <div class="camera-inner">
      <div class="camera-icon document-icon" (click)="uploadDocument()"> <img src="../../assets/images/file_white1.svg"> </div>
    </div>
    <div class="clear"></div>
    <h2 class="txt-org">Document</h2>
  </ion-col>
</ion-row>
  <ion-row *ngIf="imgUrl">
    <img src="{{imgUrl}}" width="100%">
  </ion-row>

  <ion-row *ngIf="imageArray.length > 0">
      <div *ngFor="let attachment of imageArray; let i = index">
        <img src="{{attachment}}" width="100%">
      </div>
  </ion-row>

</ion-content>
